In [ ]:
#Task6 - Add and remove the elements from a tuple. (Refer workaroud to modify the tuples)

In [2]:
tup1 = (1,2,3,4,5,6,7,8,9,0)
tup1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [17]:
#convert to list
list1 = list(tup1)
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [18]:
#Add the value
list1.append(12)
list1.append(23)
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 12, 23]

In [19]:
#Again convert to Tuple
tup1 = tuple(list1)
tup1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 12, 23)

In [21]:
#Remove the element from a tuple
tup2 = ("python" , "ML" , "data")
tup2

('python', 'ML', 'data')

In [23]:
#convert to list
List2 =list(tup2)
List2

['python', 'ML', 'data']

In [24]:
# Remove the element
List2.remove("data")
List2

['python', 'ML']

In [26]:
#Again convert to Tuple
tup2 = tuple(List2)
tup2

('python', 'ML')